.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
footer{
    position:static;
}
.tick{
    font-size:13px;
}

#startyr, #endyr{
    cursor: default;
}
#numberofDocsWorld, #numberofDocsPC, #numberofDocsTheme{
    background-color: white;
    cursor: default !important;

}/*
#numberofDocsWorld:hover, #numberofDocsPC:hover, #numberofDocsTheme:hover {
    cursor: default !important;
}*/
#resetButton{
    top: 89%;
    left: 135%;
    position:absolute;
    font-weight: bold;
}
#selectedAttribute, #detailsTable{
    border: 1px solid #cebcbc;
    padding-right:0px;
    padding-left:0px;
}
#attribute{
    font-weight: bold;
}
#tableid label, #tableid input{
    font-weight: normal !important;
    cursor: pointer;
}
#detailsTable, .mousePointer{
    cursor:pointer !important;
}

.cell-title {
    font-weight: bold;
}

html, body {
    padding-top:5px;
    max-width:100%;
  max-height:100%;
    height:100%;
  margin: 0;
    font:Arial !important;/*
    overflow-y: hidden;
    overflow-x: hidden;*/
}

.flashMe {
      border: 1px solid black;
      background: yellow;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/*
body {
  padding:0;
  margin:0;
  background:pink;
  color: #000000;
}
#outer{
  height:100%;
  min-height:100%;
  margin-left:160px;
  background:#F8E7EC;
  border-left:1px solid #000;
  border-right:1px solid #000;
  margin-bottom:-52px;
  color: #000000;
}

html>body #outer{height:auto;} //for mozilla as IE treats height as min-height anyway
#header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:70px;
  background:#FF0000;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  overflow:hidden;
  color: #000000;
}
#leftpane{
  float: left;
   width: 200px;
   background-color: #fff;
   height: 100%;
   border-right: 1px solid #000;
}
#noUiSlider{
  width:200px;
  height:15px
}
#detailsTable{
  width:200px;
  height:220px
}
#gtdParacords{
  height:20pm
}
#worldMap {
  background: black;
  float: left;
}

#themeriver{
  width:1000px;
  height:220px
}

*/
#noUiSlider{
  height:15px;
    cursor: pointer;
}
#worldMap {
  background: white;
}

body {
font: 10px sans-serif;
}
.themeriver {
background: #fff;
}
p {
  font: 12px helvetica;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

circle {
fill: rgba(255, 0, 0, 0.2);
    opacity: 0.3;
}

.itemselected {
    background: lightBlue;
}

/* minimap styles */

.canvas .wrapper.outer > .background {
    fill: #000000;
}
.canvas .wrapper.inner > .background {
    /*fill: #CCCCCC;*/
    /*fill: #000000;*/
    cursor: move;
}
.canvas .background {
    /* fill: #F6F6F6; */
    fill: grey;
    stroke: grey;
    cursor: move;
	cursor: default;
}
.canvas .panCanvas {
    cursor: move;
	cursor: default;
}

.canvas .minimap .frame .background {
    stroke: #111111;
    stroke-width: 4px;
    fill-opacity: 0.4;
    fill: #000000;
    fill: url(#minimapGradient);
    filter: url(#minimapDropShadow);
    cursor: move;
	cursor: default;
}/*
.ui-widget-header,.ui-state-default, ui-button {
    background: #b9cd6d;
    border: 1px solid #b9cd6d;
    color: #FFFFFF;
    font-weight: bold;
}*/
.forcecircle {
    stroke: #111111;
    fill: blue;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 8px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

svg_old {
      background: white;
    }

.country {
      fill: white;
      stroke: black;
      stroke-width: 0.3;
}

selected {
      fill: yellow;
      name: country;
}
