.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
html, body {
  width:100%;
  height:100%;
  margin: 0;
}

.flashMe {
      border: 1px solid black;
      background: yellow;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
/*
body {
  padding:0;
  margin:0;
  background:pink;
  color: #000000;
}
#outer{
  height:100%;
  min-height:100%;
  margin-left:160px;
  background:#F8E7EC;
  border-left:1px solid #000;
  border-right:1px solid #000;
  margin-bottom:-52px;
  color: #000000;
}

html>body #outer{height:auto;} //for mozilla as IE treats height as min-height anyway
#header{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:70px;
  background:#FF0000;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  overflow:hidden;
  color: #000000;
}
#leftpane{
  float: left;
   width: 200px;
   background-color: #fff;
   height: 100%;
   border-right: 1px solid #000;
}
#noUiSlider{
  width:200px;
  height:15px
}
#detailsTable{
  width:200px;
  height:220px
}
#gtdParacords{
  height:20pm
}
#worldMap {
  background: black;
  float: left;
}

#themeriver{
  width:1000px;
  height:220px
}

*/
#noUiSlider{
  height:15px
}
#worldMap {
  background: black;
}

body {
font: 10px sans-serif;
}
.themeriver {
background: #fff;
}
p {
  font: 12px helvetica;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

circle {
fill: rgba(255, 255, 255, 0.2);
}
